@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
@import url('https://fonts.cdnfonts.com/css/blanka');
@import url('https://fonts.cdnfonts.com/css/anonymous-pro');
@font-face {
  font-family: 'ChauPhilomeneOne';
  src: url('./assets/ChauPhilomeneOne-Regular.ttf') format('truetype');
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-fonct {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  width: 1000px;
}

.card {
  width: 190px;
  height: 150px;
  background-color: #eaebecf0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-content: center;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  transition: all 300ms ease;
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
}

.card:hover {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  margin-bottom: 17px;
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-family: 'Blanka', sans-serif;
  color: #3c7b97;
  margin-left: 7rem;
}

.nav-logo-container a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  /* min-height: 100vh;
  width: 85vw; */
  max-width: 2110px;
  margin: 0rem auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background: linear-gradient(
    0deg,
    rgba(0, 64, 111, 1) 0%,
    rgb(255, 255, 255) 100%
  );
}

nav {
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  background-color: white;
}

.navbar-menu-container {
  display: none;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: #3c7b97;
  font-weight: 600;
  font-size: 1.3rem;
  text-shadow: 0px 1px 2px grey;
}
/* begin hero  */

.container {
  max-width: 100%;
  margin: 0 auto;
}
.container h1 p {
  margin: 0;
}

.hero > * {
  flex: 1 1 25em;
}

.hero h1 {
  font-weight: 700;
  font-size: clamp (40px, 5vw, 70px);
  line-height: 1;
}
.hero p {
  font-weight: 500;
  font-size: 30px;
}
.hero a {
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0.3em 1em;
  background: linear-gradient(90deg, #00406f 0%, rgba(63, 0, 156, 0.9) 164.26%);
  border-radius: 10px;
}
img {
  max-width: 100%;
  object-fit: cover;
}
.row {
  display: flex;
}
/* end hero */

.primary-button {
  color: #3c7b97;
  padding: 0.9rem 1.75rem;
  font-weight: 600;
  font-size: 1.3rem;
  text-shadow: 0px 1px 2px grey;
  outline: none;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.primary-button:hover {
  background-color: rgb(234, 234, 234);
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: white;
  font-family: 'ChauPhilomeneOne', sans-serif;
  padding-top: 65px;
  padding-bottom: 65px;
  text-align: center;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  font-family: 'Glacial Indifference', sans-serif;

  color: #eaebec;
  margin: 1.5rem 0rem;
  text-align: center;
}

/* .work-section-wrapper {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(60, 123, 151, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
} */
/* .work-section-top p {
  display: flex;
  justify-content: center;
  max-width: 900px !important;
} */

.blasst-p {
  display: flex;
  justify-content: center;
  max-width: 900px !important;
}

.work-section-top h1 {
  max-width: 700px !important;
}
.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work-section-info {
  width: 280px;
  min-height: 220px;
  background-color: #eaebec5b;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #ffffff;
  margin: 1rem 2rem;
  transition: all 300ms ease;
}
.work-section-info:hover {
  transform: scale(1.2);
}
.work-section-info h2 {
  margin: 1rem 0rem;
}
.work-section-bottom {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.work-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.text-container {
  border-radius: 10px;
  position: absolute;
  color: #2c1e4a;
  left: 18rem;
  top: 2rem;
  background-color: #eaebec;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  text-align: center;
}

.list-item-contact {
  list-style: none;
}

.font-contact {
  font-family: 'Glacial Indifference', sans-serif;
  font-weight: bold;
}

/* .container {
  position: relative;
} */

.text {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 90%;
}

.font-broker {
  font-family: 'Blanka', sans-serif;
  letter-spacing: 5px;
}

/* .logo-hero {
  color: #00406f;
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}
.slang-hero {
  color: #3c7b97;
  font-weight: normal;
  font-family: 'ChauPhilomeneOne', sans-serif;
  margin-left: 7rem;
  margin-top: 1rem;
  font-size: 2rem;
} */
.text-between {
  margin-bottom: -10px;
}

.text-hero {
  color: #3c7b97;
  font-family: 'Glacial Indifference', sans-serif;
  font-size: 1.4rem;
  bottom: 0;
  position: absolute;
  bottom: 0;
  font-weight: bold;
  margin-left: 6rem;
  letter-spacing: 0.5px;
}

.Contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* .contact-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
} */

.contact-container {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  background: #eaebec5b;
  border-radius: 0.5rem;
}

.contact-box {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

.map iframe {
  width: 100%;
  height: 50vh;
}

.input-tarifs {
  width: 115px;
  min-height: 50px;
  background-color: #eaebec5b;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #ffffff;
  margin: 1rem 1rem;
  font-size: 1.5rem;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.price-card {
  min-width: 750px;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaebec5b;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #ffffff;
  margin: 1rem 1rem;
}

.background-fonct {
  background-color: black;
  background-image: url('./assets/bg-fonct.svg');
  background-repeat: no-repeat, repeat;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

h2 {
  font-size: 32px;
  margin-bottom: 1em;
}

.Fonctionalités-section {
  background-image: url('./assets/bg-fonct.svg');
  /* opacity: 0.3; */
  background-size: cover;
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* FOOTER */
footer {
  position: absolute;
  background-color: #00406f;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #ffffff;
}
.footer-content {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p a {
  text-decoration: none;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  /* border: 1.1px solid white; */
  padding: 5px;
  /* border-radius: 50%; */
}
.socials a i {
  font-size: 2.1rem;
  width: 20px;
  /* transition: color 0.4s ease; */
}
.socials a:hover i {
  color: #3c7b97;
}
/* FOOTER END */

/* TLPHN  */

@media (max-width: 800px) {
  .contact-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .price-card {
    min-width: 350px;
  }
  .Fonctionalités-section {
    background-image: none;
    background-size: cover;
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .hero h1 {
    font-weight: 700;
    font-size: 5rem;
    line-height: 1;
  }
  .slang-hero {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }

  .primary-heading {
    text-align: center;
    /* max-width: 90%; */
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }

  .primary-subheading {
    text-align: center;
  }

  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }

  /* .App {
    max-width: 100%;
  } */
}

@media (max-width: 600px) {
  .contact-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .contact-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .about-background-image-container {
    display: none;
  }
  .logo {
    margin-left: 2rem;
  }
  .hero {
    gap: 2em;
    flex-wrap: wrap-reverse;
    align-items: center;
    min-height: calc(100vh-93.6px);
  }
  .hero h1 {
    color: #00406f;
    display: flex;
    justify-content: center;
  }
  .hero p {
    color: #3c7b97;
    font-family: 'ChauPhilomeneOne', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
}

/* PC */

@media (min-width: 1000px) {
  .map iframe {
    width: 100%;
    height: 100%;
  }
  .contact-container {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: #eaebec5b;
    border-radius: 0.5rem;
  }
  .logo-hero {
    color: #00406f;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-top: -12rem;
  }
  .slang-hero {
    color: #3c7b97;
    font-weight: normal;
    font-family: 'ChauPhilomeneOne', sans-serif;
    margin-left: 7rem;
    margin-top: 1rem;
    font-size: 2rem;
  }
  .hero {
    background-image: url('./assets/Hero.webp');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    gap: 2em;
    flex-wrap: wrap-reverse;
    align-items: center;
    min-height: calc(100vh-93.6px);
    min-height: 100vh;
  }
  .logo-hero > h1 {
    font-size: 130px;
  }
  .font-CRM {
    font-family: 'Anonymous Pro', sans-serif;
    padding-top: 6.6rem;
    padding-left: 0.5rem;
    font-size: 60px;
    font-weight: bold;
  }
  .hero2 {
    margin-top: 13.8rem;
  }
}

/* TAB */

@media (max-width: 1024px) and (min-width: 600px) {
  .contact-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  /* .logo-hero {
    color: #00406f;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-top: -12rem;
  } */
  .hero {
    gap: 2em;
    flex-wrap: wrap-reverse;
    align-items: center;
    min-height: calc(100vh-93.6px);
  }
  .hero h1 {
    color: #00406f;
    display: flex;
    justify-content: center;
  }
  .hero p {
    color: #3c7b97;
    font-family: 'ChauPhilomeneOne', sans-serif;
    font-size: 3rem;
    display: flex;
    justify-content: center;
  }
  .slang-hero {
    color: #3c7b97;
    font-weight: normal;
    font-family: 'ChauPhilomeneOne', sans-serif;
    /* margin-left: 7rem; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.2rem;
  }

  .font-CRM {
    font-family: 'Anonymous Pro', sans-serif;
    padding-top: 6.6rem;
    padding-left: 0.5rem;
    font-size: 60px;
    font-weight: bold;
  }
  .hero2 {
    margin-top: 13.8rem;
  }
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .logo {
    margin-left: 3rem;
  }
  .font-CRM {
    font-size: 45px;
    padding-top: 7.5rem;
    padding-left: 0.6rem;
    font-size: 41px;
    font-weight: bold;
  }
  .logo-hero > h1 {
    font-size: 8rem;
    margin-top: 5.5rem;
  }
  .text-hero {
    bottom: 0;
    position: absolute;
    font-weight: bold;
    margin-left: 1rem;
    margin-bottom: -1rem;
    font-size: 1rem;
  }
}
